.main-container {
    min-height: 100vh; 
    position: relative; 
  }
  
  
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa; 
    padding: 10px; 
  }
  