.fondo-error{
    padding: 5px;
    min-height: 100vh;
    background-image: url(../src/img/template.png);
    background-size: cover;
    
}
.btn-error{
    background-color: black !important;
    border-color: white !important;
}
.btn-enviar{
    background-color: black !important;
    border-color: white !important;
}